@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
}

body{
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

[data-theme="Light"] {
  background-color: #ffffff;
  color: #000000;
  --p: #ffffff

}

[data-theme="Dark"] {
  background-color: #111;
  color: #ffffff;
  --p: #111
}

.theme{
padding: 6px;
display: flex;
align-items: center;
justify-content: center;
border-style: solid;
border-radius: 9999px;
border-color: gray;

}



.light{
  background-color: #eaeaea;
  border: 1px;
  border-radius: 9999px;

}



.dark{
 background-color: #333333;
 border: 1px;
 border-radius: 9999px;

}

button{
  background: var(--p);
  border: 0;

}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
  border-bottom: 1px solid #35383f;
  padding-bottom: 1px;
}

.Questions{
  background-color: #282a36;
  padding: 0px;
  display: inline-block;
  width: auto;

}



